$bgColor:whitesmoke;
$colorSection2: rgb(46, 192, 112);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bgHead {
    background: black;

}

.toggle {
    .line1 {
        transform: rotate(-45deg) translate(-3px, 8px) !important;
        transition: transform .5s;
    }

    .line2 {
        opacity: 0;
        transition: transform .5s;

    }

    .line3 {
        transform: rotate(45deg) translate(-6px, -12px) !important;
        transition: transform .5s;


    }
}

header {
    width: 100%;
    display: grid !important;
    grid-template-columns: 2fr repeat(10, 1fr) 2fr;
    grid-auto-rows: auto;
    min-width: 0;
    color: rgb(240, 229, 229);
    z-index: 9;
    position: fixed;


    .h1 {
        grid-column: 4/12;
        margin-top: 10px;
        display: flex;

        & #minu {
            flex: 1;
            list-style-type: none;
            display: flex;
            cursor: pointer;

            & li {
                display: inline;
                //padding: 0 10px 0 10px;
                align-content: center;
                flex: auto;
                text-align: center;

                & a {
                    font-family: sans-serif;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 3px;
                    padding-bottom: 20px !important;

                    &:hover {
                        color: yellow;
                        text-decoration: yellow;
                        border-bottom-width: 3px;
                        border-bottom-style: solid;
                        border-bottom-color: yellow;
                    }

                    &:active {
                        color: goldenrod;
                        background-color: transparent;
                    }
                }

            }
        }

        .burger {
            padding: 10px;
            display: none;

            div {
                width: 30px;
                height: 5px;
                background-color: white;
                margin: 5px;
                transition: all 0.5s ease;
            }
        }
    }

    & #logo {
        grid-column: 2/4;
    }

}

.Container {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2fr repeat(10, 1fr) 2fr;
    grid-auto-rows: auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background-color: $bgColor;



    #myCarousel {
        grid-column: 1/-1;
        width: 100%;
        height: 90vh;

        .carousel-inner {
            .item {
                img {
                    height: 90vh;
                }

                .carousel-caption {
                    text-shadow: 1px 1px 2px #ffffff;

                    p {
                        font-size: 54px;

                    }
                }
            }
        }
    }

    .content2 {
        grid-column: 2/12;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
    }

    .content3 {
        grid-column: 2/12;
        display: flex;
        // margin: 20px 0px;
        padding: 30px 0px;

        .s1 {
            flex: 1;
            line-height: 3rem;

            h3 {
                margin: 0;
                text-transform: uppercase;
                line-height: 3rem;
            }

            p {
                padding-right: 20px;
            }

            #minu {
                list-style: none;

                li {
                    i {
                        color: $colorSection2;
                        margin-right: 5px;
                    }
                }
            }

            button {
                background-color: $colorSection2;
                color: $bgColor;
                padding: 10px;
                border-radius: .5rem;
                border: 1px solid $colorSection2;

                &:hover {
                    background-color: $bgColor;
                    color: $colorSection2;
                    border: 1px solid $colorSection2;
                }
            }
        }

        .s2 {
            flex: 1;
            background: url(./img/orange.jpg) no-repeat;
            background-size: 100% 100%;
        }
    }

    .content4 {
        background: linear-gradient(rgb(65, 64, 64), rgba(51, 51, 51, 0.5)), url(./img/apple-4833764_1280.jpg) no-repeat;
        background-size: cover;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        grid-auto-rows: auto;
        column-gap: 20px;
        padding: 30px 0px;

        .ContainerStep {
            width: 100%;
            color: whitesmoke;
            grid-column: 2/12;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            h1 {
                padding: 20px 0px;
                padding-top: 0;

            }

            .steps {
                flex: 1;
                display: flex;
                text-align: center;

                .step {
                    flex: 1;

                    a {
                        font-size: 30px;

                        i {
                            background-color: whitesmoke;

                            color: rgb(126, 51, 126);
                            border-radius: 50%;
                            padding: 18px;
                            border: 1px solid rgb(126, 51, 126);

                            &:hover {
                                background-color: rgb(126, 51, 126);
                                color: $bgColor;
                                border: 1px solid $bgColor;
                            }
                        }
                    }

                    h3 {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .content5 {
        grid-column: 2/12;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0px;

        .Services {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            text-align: center;
            column-gap: 30px;
            row-gap: 20px;
        }
    }

    .content6 {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        grid-auto-rows: auto;
        text-align: center;
        background-color: rgb(30, 143, 128);
        padding: 20px 0px;
        color: white;

        .slide {
            grid-column: 2/12;

            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            h1 {
                text-shadow: 1px 1px 2px #ffffff;
                padding: 10px 0px;
            }

            .facts {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 10px 0px;
                font-size: 17px;
                font-weight: bold;

                .fact {
                    flex: 1;
                }
            }

        }
    }

    .content7 {
        grid-column: 2/12;
        margin: 20px 0px;

        .slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                padding: 20px 0px;
                text-shadow: 1px 1px 2px #000000
            }

            .garllery {
                flex: 1;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                column-gap: 18px;
                row-gap: 20px;

                img {
                    width: 100%;
                    height: 250px;
                }
            }
        }
    }

    .content8 {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        grid-auto-rows: auto;
        background-color: rgb(193, 206, 204);
        padding: 20px 0px;

        .slide {
            grid-column: 2/12;
            display: grid;
            grid-template-rows: repeat(2, auto);
            text-align: center;

            h1 {
                grid-row: 1;
                padding: 20px 0px;
                text-shadow: 1px 1px 2px #000000
            }

            .Farmers {
                grid-row: 2;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
                column-gap: 18px;

                .farmer {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: 250px auto;

                    & img {
                        grid-row: 1;
                        width: 100%;
                        height: 250px;
                    }

                    & .info {
                        grid-row: 2;
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0px;

                        & .social {
                            i {
                                padding: 0px 5px;
                                color: $colorSection2;
                            }
                        }
                    }
                }

            }
        }

    }

    .content9 {
        grid-column: 2/12;
        display: grid;
        grid-template-rows: repeat(4, auto);
        text-align: center;
        width: 100%;
        padding: 30px 0px;

        h1 {
            margin: 10px 0px;
            text-shadow: 1px 1px 2px #000000
        }

        p {
            margin: 10px 0px;
        }

        .inputs {
            display: flex;
            height: 50px;
            margin: 20px 0px;

            & input {
                flex: 3;
                padding-left: 10px;
            }

            & button {
                flex: 1;
                border: none;
                color: white;
                font-size: 18px;
                font-weight: bold;
                background-color: rgb(156, 35, 35);
            }
        }
    }

    footer {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        grid-auto-rows: auto;
        background-color: rgb(15, 15, 15);
        padding: 20px 0px;

        p {
            color: rgb(141, 140, 140);
        }

        .grids {
            grid-column: 2/12;
            grid-row: 1;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            color: white;
            column-gap: 30px;
            margin-bottom: 30px;

            .grid1 {
                color: white;

                h4 {
                    padding-bottom: 20px;
                }

                ul {
                    list-style: none !important;

                    & li {
                        padding: 5px 0px;

                        & i {
                            padding-right: 5px;

                        }

                        & a {
                            color: white !important;
                            text-decoration: none !important;


                            &:hover {
                                color: rgb(126, 51, 126);
                            }
                        }
                    }
                }
            }

            .grid2 {
                h4 {
                    padding-bottom: 20px;
                }

                table {
                    width: 100%;

                    tbody {
                        width: 100%;

                        tr {
                            border-bottom: 1px solid #ffffff;

                            td {
                                padding: 5px 0px;
                            }

                        }

                    }
                }

                .part2 {
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    h4 {
                        padding-bottom: 5px;
                    }

                    .social {
                        a {
                            padding: 0px 8px;
                            color: #ffffff;

                            &:hover {
                                color: rgb(126, 51, 126);
                            }
                        }
                    }
                }
            }

            .grid3 {
                h4 {
                    padding-bottom: 20px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-content: center;



                    .row {
                        margin-bottom: 10px;
                    }

                    .form2 {
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        input {
                            margin-bottom: 10px;
                        }

                        & textarea {
                            height: 90px;
                        }



                    }

                    button {
                        margin-top: 10px;
                        background-color: rgb(30, 143, 128);
                        border-color: rgb(30, 143, 128);


                    }

                }
            }
        }

        p {
            grid-row: 2;
            grid-column: 2/12;
            text-align: center;
        }
    }

}

@media screen and (max-width:1200px) {
    .bb {
        overflow: hidden;
    }

    .bgHead {
        background: black;
    }

    body {

        #head {

            // position: relative;
            background-color: black !important;

            .h1 {
                display: block !important;
                margin-left: auto;

                .minuActive {
                    transform: translateX(0%) !important;
                    transition: transform 0.5s ease;
                }

                #minu {
                    width: 50%;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    right: 0;
                    top: 67px;
                    height: 97vh;
                    background-color: black;
                    transform: translateX(100%);
                    transition: transform .7s ease-in;

                    li {
                        width: 100%;
                        opacity: 0;
                        padding: 10px 0px;
                        flex: 0 0 15%;
                        display: flex !important;
                        justify-content: center !important;
                        align-items: center !important;

                        a {
                            width: 100%;

                            padding: 0px;
                        }
                    }

                }



                .burger {
                    display: block !important;
                    cursor: pointer;



                }
            }

            @keyframes navLinkFade {
                from {
                    opacity: 0;
                    transform: translateX(50px);
                }

                to {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }

        .carousel1 {
            z-index: 1;
        }


        .Container {
            .content7 {
                .slide {
                    .garllery {
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        row-gap: 20px;
                    }
                }
            }

            .content8 {
                .slide {
                    .Farmers {
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        column-gap: 20px;
                        row-gap: 20px;


                    }
                }
            }

            footer {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width:900px) {

    body {
        header {
            nav {
                display: none !important;
            }
        }

        .Container {
            #myCarousel {

                height: 70vh;

                .carousel-inner {
                    .item {
                        img {
                            height: 70vh;
                        }

                        .carousel-caption {
                            margin-bottom: 70px;

                            h3 {
                                font-size: 20px;
                            }

                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .content2 {
                h1 {
                    font-size: 20px;
                }
            }

            .content3 {
                .s1 {
                    text-align: justify;

                    h3 {
                        font-size: 16px;
                    }

                    p {
                        padding: 0px;

                    }
                }

                .s2 {
                    display: none;
                }
            }

            .content4 {
                .ContainerStep {

                    .steps {
                        flex-wrap: wrap;
                        justify-content: center;

                        font-size: 13px;

                        .step {
                            flex: 0 0 50%;
                        }
                    }
                }
            }

            .content5 {
                .Services {
                    display: grid;
                    grid-template-rows: repeat(3, 1fr);
                    grid-template-columns: repeat(2, 1fr);
                    text-align: center;
                    column-gap: 20px;
                    row-gap: 30px;
                    font-size: 13px;
                }
            }

            .content6 {
                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 13px;
                }

            }

            .content9 {
                h1 {
                    font-size: 33px;
                }

                p {
                    font-size: 13px;
                }

                .inputs {
                    button {
                        font-size: 16px;

                    }
                }

            }

            footer {

                .grids {
                    grid-template-columns: auto;
                    grid-template-rows: repeat(3, auto);

                    .grid3 {
                        form {
                            .row {
                                .col1 {

                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    #head {
        .h1 {

            #minu {
                width: 100% !important;
            }
        }
    }

    .carousel1 {
        z-index: -1;
    }

    .Container {
        .content4 {
            .ContainerStep {

                .steps {
                    flex-wrap: wrap;

                    .step {
                        flex: 0 0 100%;
                    }
                }
            }
        }

        .content5 {
            .Services {
                display: grid;
                grid-template-rows: repeat(6, 1fr);
                grid-template-columns: auto;
                text-align: center;
                row-gap: 20px;
            }
        }

        .content6 {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 10px;
            }

        }

        #page-6 {
            .slide {
                .garllery {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    row-gap: 20px;
                }
            }
        }

        #page-7 {
            .slide {

                .Farmers {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    row-gap: 20px;
                    text-align: center;


                    .farmer:nth-child(1) {
                        grid-row: 1;
                        width: 100%;
                    }

                    .farmer:nth-child(2) {
                        grid-row: 2;
                    }

                    .farmer:nth-child(3) {
                        grid-row: 3;
                    }

                    .farmer:nth-child(4) {
                        grid-row: 4;
                    }

                }
            }
        }
    }
}